/*
   Author: Nasirov Yuriy
*/

.username-form {
  width: min(550px, 90%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
}

.username-form > * {
  flex-grow: 1;
  font-size: x-large;
  border-radius: inherit;
  padding: 0.5rem 1rem;
  text-align: center;
}

.username-form__input {
  width: min(350px, 100%);
  border: var(--main-border);
  color: var(--primary);
}

.username-form__button {
  width: min(100px, 100%);
  background-color: var(--primary);
  border: none;
}

.username-form__button:active {
  transform: scale(0.98);
}

.username-form__button:is(:hover, :focus, :focus-visible) {
  background-color: var(--accent);
}

input.username-form__input:not(:placeholder-shown):valid {
  border-color: green;
}

input.username-form__input:not(:placeholder-shown):invalid {
  border-color: red;
}