.username-form {
  width: min(450px, 90%);
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
}

.username-form > * {
  font-size: x-large;
  border-radius: inherit;
  text-align: center;
}

.username-form__input {
  width: min(350px, 100%);
  padding: 0.5rem 1rem;
  border: var(--main-border);
  color: var(--primary);
}

.username-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--primary);
  border: none;
}

.username-form__button > svg {
  width: 50%;
  height: 50%;
  fill: var(--text);
}

.username-form__button:active {
  transform: scale(0.98);
}

.username-form__button:is(:hover, :focus, :focus-visible) {
  background-color: var(--accent);
}

input.username-form__input:not(:placeholder-shown):valid {
  border-color: green;
}

input.username-form__input:not(:placeholder-shown):invalid {
  border-color: red;
}