/*
   Author: Nasirov Yuriy
*/

.username-form {
  width: min(500px, 90%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 1rem;
  border: var(--main-border);
  border-radius: 20px;
}

.username-form > * {
  flex-grow: 1;
  font-size: x-large;
  border-radius: inherit;
}

.username-form__input {
  width: min(350px, 100%);
  padding: 0.5rem 1rem;
  border: none;
  text-align: center;
  color: var(--secondary-color);
}

.username-form__button {
  width: min(100px, 100%);
  text-align: center;
  padding: 6px 8px;
  background-color: var(--primary-color);
  border: none;
}

.username-form__button:active {
  transform: scale(0.98);
}

.username-form__button:hover {
  opacity: 0.8;
}

.username-form__input--error,
.username-form__input.username-form__input--error:focus {
  color: rgb(209, 73, 91);
}
