/*
   Author: Nasirov Yuriy
*/

/*
   ===============
   GLOBAL SETTINGS
   ===============
*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

:root {
  --max-width: 1250px;
  --main-border-width: 1px;
  --main-border: var(--main-border-width) solid var(--secondary);
  --main-box-shadow-width: var(--main-border-width);
  --main-box-shadow: 0 0 0 var(--main-box-shadow-width) var(--secondary);
}

html {
  font-size: 16px;
}

body {
  user-select: none;
  background-color: var(--background);
  color: var(--text);
}

a,
button,
.switch-container {
  cursor: pointer;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

/*
   ======
   THEMES
   ======
*/

:root[theme="dark"] {
  --text: rgb(255, 255, 255);
  --background: rgb(27, 36, 48);
  --primary: rgb(129, 103, 151);
  --secondary: rgb(129, 135, 201);
}

:root[theme="light"] {
  --text: rgb(4, 26, 20);
  --background: rgb(246, 254, 251);
  --primary: rgb(52, 222, 172);
  --secondary: rgb(94, 165, 229);
}

:root[theme="dark"] *[theme="light"] {
  display: none;
}

:root[theme="light"] *[theme="dark"] {
  display: none;
}

/*
   =======
   LAYOUTS
   =======
*/

.main-grid {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  grid-template-columns: 1fr minmax(auto, var(--max-width)) 1fr;
  grid-template-rows: minmax(60px, auto) 1fr minmax(60px, auto);
  grid-template-areas:
    ". nav ."
    ". main ."
    ". footer .";
}

.nav-bar__container,
.footer__container,
.main-container {
  width: min(var(--max-width), 100%);
}

.nav-bar,
.nav-bar__container,
.footer,
.footer__container,
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  grid-area: nav;
  flex-wrap: wrap;
  border-bottom: var(--main-border);
  padding: 5px;
}

.nav-bar__container {
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.footer {
  grid-area: footer;
  border-top: var(--main-border);
}

.footer__container {
  gap: 1rem;
}

.main-container {
  grid-area: main;
  margin: 1.5rem 0 1.5rem 0;
}

/*
   =====
   ICONS
   =====
*/

.icon {
  width: inherit;
  height: inherit;
  fill: var(--secondary);
}

.size-50 {
  width: 50px;
  height: 50px;
}

/*
   ==============
   THEME SWITCHER
   ==============
*/

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
   ==============
   ACCESSIBILITY
   ==============
*/

.navigable:focus-visible {
  outline: 2px solid var(--secondary);
  outline-offset: 2px;
}

.error-message {
  color: var(--secondary);
  text-align: center;
}