/*
   Author: Nasirov Yuriy
*/

/*
   ===============
   GLOBAL SETTINGS
   ===============
*/

:root {
  --max-poster-width: 225px;
  --max-poster-height: 320px;
  --anime-items-gap: 1.5rem;
  --anime-item-border-radius: 10px;
  --fandub-slider-row-height: 60px;
  --anime-item-badge-indent: 10px;
  --anime-item-badge-max-width: calc(var(--max-poster-width) - var(--anime-item-badge-indent) * 2);
  --anime-item-padding: 5px;
  --anime-item__mal_episode-max-width: 50px;
}

/*
   =======
   LAYOUTS
   =======
*/

.anime-container {
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--anime-items-gap);
}

.anime-item {
  width: var(--max-poster-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: var(--main-box-shadow);
  border-radius: var(--anime-item-border-radius);
}

.anime-item * {
  background-color: unset;
  border-radius: inherit;
}

.anime-item:not(:has(.anime-item__fandub_slider)) {
  box-shadow: unset;
}

.anime-item:not(:has(.anime-item__fandub_slider)) > .anime-item__mal_poster {
  box-shadow: var(--main-box-shadow);
  border-radius: inherit;
  filter: grayscale(1);
}

.anime-item__mal_episode {
  max-width: var(--anime-item-badge-max-width);
  max-height: var(--anime-item__mal_episode-max-width);
  position: absolute;
  top: var(--anime-item-badge-indent);
  left: var(--anime-item-badge-indent);
  padding: var(--anime-item-padding);
  color: rgb(255, 255, 255);
  background-color: rgb(46, 81, 162);
  overflow: hidden;
  font-size: x-large;
  z-index: 200;
}

.anime-item__mal_episode:is(:hover, :focus-visible) {
  transform: scale(1.08);
}

.anime-item__fandub_types {
  display: none;
  flex-direction: column;
  gap: 5px;
  max-width: var(--anime-item-badge-max-width);
  position: absolute;
  top: calc(var(--anime-item-badge-indent) * 2 + var(--anime-item__mal_episode-max-width));
  left: var(--anime-item-badge-indent);
  z-index: 200;
}

.anime-item__fandub_types--active {
  display: flex;
}

.anime-item__fandub_types__type {
  max-width: inherit;
  width: fit-content;
  background-color: var(--secondary-color);
  padding: var(--anime-item-padding);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.anime-item__mal_poster {
  width: var(--max-poster-width);
  height: var(--max-poster-height);
  position: relative;
  border-radius: var(--anime-item-border-radius) var(--anime-item-border-radius) 0 0;
  z-index: 100;
  text-align: center;
  overflow: hidden;
  color: var(--secondary-color);
}

.anime-item__mal_poster:hover {
  filter: grayscale(0.5);
  transition: 0.3s;
}

.anime-item__fandub_episode {
  max-width: var(--anime-item-badge-max-width);
  display: none;
  position: absolute;
  bottom: calc(var(--fandub-slider-row-height) + var(--anime-item-badge-indent));
  left: var(--anime-item-badge-indent);
  padding: var(--anime-item-padding);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--secondary-color);
  font-size: x-large;
  z-index: 200;
}

.anime-item__fandub_episode--active {
  display: block;
}

.anime-item__fandub_episode--active:empty {
  display: none;
}

.anime-item__fandub_slider {
  width: 100%;
  height: var(--fandub-slider-row-height);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 10px;
}

.anime-item__fandub_slider__arrow {
  width: 50px;
  height: 30px;
  cursor: pointer;
  fill: var(--secondary-color);
}

.anime-item__fandub_slider__arrow:is(:hover, :focus-visible) {
  transform: scale(1.3);
}

.anime-item__fandub_slider__arrow--left:active {
  transform: scale(1.1) translateX(-5px);
}

.anime-item__fandub_slider__arrow--right:active {
  transform: scale(1.1) translateX(5px);
}

.anime-item__fandub_link_holder {
  width: 135px;
  height: 40px;
  background-color: var(--primary-color);
}

.anime-item__fandub_link_holder:hover {
  opacity: 0.8;
}

.anime-item__fandub_link_holder:active {
  transform: scale(0.98);
}

.anime-item__fandub_link_holder__link {
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  text-align: center;
}

.anime-item__fandub_link_holder__link--active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anime-item__fandub_types--active,
.anime-item__fandub_episode--active,
.anime-item__fandub_link_holder__link--active {
  animation: fade-in 500ms forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}