/*
   Author: Nasirov Yuriy
*/

/*
   ===============
   GLOBAL SETTINGS
   ===============
*/

:root {
  --item-width: 225px;
  --item-height: 320px;
  --items-gap: 1.5rem;
  --slider-height: 60px;
  --item-badge-indent: 10px;
  --item-badge-max-width: calc(var(--item-width) - var(--item-badge-indent) * 2);
  --item-padding: 5px 10px;
}

/*
   =======
   LAYOUTS
   =======
*/

.items-container {
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--items-gap);
}

.item {
  width: var(--item-width);
  height: var(--item-height);
  position: relative;
  border-radius: var(--main-border-radius);
}

.item * {
  background-color: unset;
  border-radius: inherit;
}

.item:has(.slider):hover > .mal_poster {
  filter: grayscale(0.5);
  transition: 0.3s;
}

.item:not(:has(.slider)) > .mal_poster {
  filter: grayscale(1);
}

.mal_episode {
  max-width: var(--item-badge-max-width);
  position: absolute;
  top: var(--item-badge-indent);
  left: var(--item-badge-indent);
  padding: var(--item-padding);
  background-color: var(--primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: x-large;
}

.mal_episode:is(:hover, :focus-visible) {
  background-color: var(--secondary);
}

.mal_poster {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  text-align: center;
  overflow: hidden;
}

.anime_site_info {
  display: none;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: var(--item-badge-max-width);
  position: absolute;
  bottom: calc(var(--slider-height) + var(--item-badge-indent));
  left: var(--item-badge-indent);
}

.anime_site_info--active {
  display: flex;
}

.anime_site_info__item {
  max-width: inherit;
  width: fit-content;
  background-color: var(--primary);
  padding: var(--item-padding);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: large;
}

.anime_site_info__item:empty {
  display: none;
}

.anime_site_info__item:not(:last-child) {
  animation: fade-in 500ms forwards;
}

.anime_site_info__item:last-child {
  align-self: center;
}

.slider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: var(--slider-height);
  grid-template-areas: "arrow-left anime-link arrow-right";
  align-items: center;
  justify-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--main-border-radius) var(--main-border-radius);
  backdrop-filter: blur(3rem);
}

.slider__arrow {
  width: 100%;
  height: 65%;
  display: block;
  cursor: pointer;
  fill: var(--primary);
}

.slider__arrow:is(:hover, :focus-visible) {
  transform: scale(1.3);
  fill: var(--secondary)
}

.slider__arrow--left {
  grid-area: arrow-left;
}

.slider__arrow--left:active {
  transform: scale(1.1) translateX(-5px);
}

.slider__arrow--right {
  grid-area: arrow-right;
}

.slider__arrow--right:active {
  transform: scale(1.1) translateX(5px);
}

.anime_link {
  grid-area: anime-link;
  width: 135px;
  height: 75%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 2rem;
  border-radius: var(--main-border-radius);
}

.anime_link:is(:hover, :focus-visible) {
  background-color: var(--secondary);
}

.anime_link:active {
  transform: scale(0.90);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}