/*
   Author: Nasirov Yuriy
*/

/*
   ===============
   GLOBAL SETTINGS
   ===============
*/

:root {
  --max-poster-width: 225px;
  --max-poster-height: 320px;
  --anime-items-gap: 1.5rem;
  --anime-item-border-radius: 10px;
  --fandub-slider-row-height: 60px;
  --anime-item-badge-indent: 10px;
  --anime-item-badge-max-width: calc(var(--max-poster-width) - var(--anime-item-badge-indent) * 2);
  --anime-item-padding: 5px;
  --anime-item__mal_episode-max-width: 50px;
}

/*
   ======
   THEMES
   ======
*/

:root[theme="dark"] {
  --slider-arrow-left: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="rgb(129, 135, 201)" d="M380.6 81.7c7.9 15.8 1.5 35-14.3 42.9L103.6 256 366.3 387.4c15.8 7.9 22.2 27.1 14.3 42.9s-27.1 22.2-42.9 14.3l-320-160C6.8 279.2 0 268.1 0 256s6.8-23.2 17.7-28.6l320-160c15.8-7.9 35-1.5 42.9 14.3z"/></svg>');
  --slider-arrow-right: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="rgb(129, 135, 201)" d="M3.4 81.7c-7.9 15.8-1.5 35 14.3 42.9L280.5 256 17.7 387.4C1.9 395.3-4.5 414.5 3.4 430.3s27.1 22.2 42.9 14.3l320-160c10.8-5.4 17.7-16.5 17.7-28.6s-6.8-23.2-17.7-28.6l-320-160c-15.8-7.9-35-1.5-42.9 14.3z"/></svg>');
}

:root[theme="light"] {
  --slider-arrow-left: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="rgb(69, 112, 143)" d="M380.6 81.7c7.9 15.8 1.5 35-14.3 42.9L103.6 256 366.3 387.4c15.8 7.9 22.2 27.1 14.3 42.9s-27.1 22.2-42.9 14.3l-320-160C6.8 279.2 0 268.1 0 256s6.8-23.2 17.7-28.6l320-160c15.8-7.9 35-1.5 42.9 14.3z"/></svg>');
  --slider-arrow-right: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="rgb(69, 112, 143)" d="M3.4 81.7c-7.9 15.8-1.5 35 14.3 42.9L280.5 256 17.7 387.4C1.9 395.3-4.5 414.5 3.4 430.3s27.1 22.2 42.9 14.3l320-160c10.8-5.4 17.7-16.5 17.7-28.6s-6.8-23.2-17.7-28.6l-320-160c-15.8-7.9-35-1.5-42.9 14.3z"/></svg>');
}

/*
   =======
   LAYOUTS
   =======
*/

.anime-container {
  align-content: center;
  flex-wrap: wrap;
  gap: var(--anime-items-gap);
}

.anime-item {
  display: grid;
  grid-template-rows: var(--max-poster-height) var(--fandub-slider-row-height);
  grid-template-columns: var(--max-poster-width);
  grid-template-areas:
    "a-title_poster"
    "a-fandub_slider";
  align-items: center;
  position: relative;
  box-shadow: var(--main-box-shadow);
  border-radius: var(--anime-item-border-radius);
}

.anime-item * {
  background-color: unset;
  border-radius: inherit;
}

.anime-item:not(:has(.anime-item__fandub_slider)) {
  box-shadow: unset;
}

.anime-item:not(:has(.anime-item__fandub_slider)) > .anime-item__mal_poster {
  box-shadow: var(--main-box-shadow);
  border-radius: inherit;
  filter: grayscale(1);
}

.anime-item__mal_episode {
  max-width: var(--anime-item-badge-max-width);
  max-height: var(--anime-item__mal_episode-max-width);
  position: absolute;
  top: var(--anime-item-badge-indent);
  left: var(--anime-item-badge-indent);
  padding: var(--anime-item-padding);
  color: rgb(255, 255, 255);
  background-color: rgb(46, 81, 162);
  overflow: hidden;
  font-size: x-large;
  z-index: 200;
}

.anime-item__mal_episode:is(:hover, :focus-visible) {
  transform: scale(1.08);
}

.anime-item__fandub_types {
  display: none;
  flex-direction: column;
  gap: 5px;
  max-width: var(--anime-item-badge-max-width);
  position: absolute;
  top: calc(var(--anime-item-badge-indent) * 2 + var(--anime-item__mal_episode-max-width));
  left: var(--anime-item-badge-indent);
  z-index: 200;
}

.anime-item__fandub_types--active {
  display: flex;
}

.anime-item__fandub_types__type {
  max-width: inherit;
  width: fit-content;
  background-color: var(--secondary-color);
  padding: var(--anime-item-padding);
}

.anime-item__mal_poster {
  grid-area: a-title_poster;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: var(--anime-item-border-radius) var(--anime-item-border-radius) 0 0;
  z-index: 100;
  text-align: center;
  overflow: hidden;
  color: var(--secondary-color);
}

.anime-item__mal_poster:hover {
  filter: grayscale(0.5);
  transition: 0.3s;
}

.anime-item__fandub_episode {
  max-width: var(--anime-item-badge-max-width);
  display: none;
  position: absolute;
  bottom: calc(var(--fandub-slider-row-height) + var(--anime-item-badge-indent));
  left: var(--anime-item-badge-indent);
  padding: var(--anime-item-padding);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--secondary-color);
  font-size: x-large;
  z-index: 200;
}

.anime-item__fandub_episode--active {
  display: block;
}

.anime-item__fandub_slider {
  grid-area: a-fandub_slider;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.anime-item__fandub_slider__arrow {
  width: 50px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.anime-item__fandub_slider__arrow:is(:hover, :focus-visible) {
  transform: scale(1.3);
}

.anime-item__fandub_slider__arrow--left {
  background-image: var(--slider-arrow-left);
}

.anime-item__fandub_slider__arrow--left:active {
  transform: scale(1.1) translateX(-5px);
}

.anime-item__fandub_slider__arrow--right {
  background-image: var(--slider-arrow-right);
}

.anime-item__fandub_slider__arrow--right:active {
  transform: scale(1.1) translateX(5px);
}

.anime-item__fandub_link_holder {
  width: 135px;
  height: 40px;
  background-color: var(--primary-color);
}

.anime-item__fandub_link_holder:hover {
  opacity: 0.8;
}

.anime-item__fandub_link_holder:active {
  transform: scale(0.98);
}

.anime-item__fandub_link_holder__link {
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  text-align: center;
}

.anime-item__fandub_link_holder__link--active {
  display: flex;
  justify-content: center;
  align-items: center;
}