body {
  color: rgb(247, 219, 167);
  background-color: rgb(34, 40, 49);
  overflow: hidden;
}

.flex-wrapper {
  display: flex;
  justify-content: safe center;
  align-items: safe center;
}

.height-full-vh {
  height: 100vh;
}

.width-full-percents {
  width: 100%;
}

.container {
  width: 620px;
  min-width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username-submit-form {
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}