/*
   Author: Nasirov Yuriy
*/

/*
   ===============
   GLOBAL SETTINGS
   ===============
*/

:root {
  --max-poster-width: 225px;
  --max-poster-height: 320px;
  --anime-titles-per-row: 5;
  --anime-titles-gap: 1.5rem;
  --anime-title-border-radius: 10px;
  --max-width: calc(var(--anime-titles-per-row) * var(--max-poster-width) + (var(--anime-titles-per-row) - 1) * var(--anime-titles-gap));
}

/*
   ======
   THEMES
   ======
*/

.dark {
  --slider-arrow-left: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="rgb(178, 171, 191)" d="M380.6 81.7c7.9 15.8 1.5 35-14.3 42.9L103.6 256 366.3 387.4c15.8 7.9 22.2 27.1 14.3 42.9s-27.1 22.2-42.9 14.3l-320-160C6.8 279.2 0 268.1 0 256s6.8-23.2 17.7-28.6l320-160c15.8-7.9 35-1.5 42.9 14.3z"/></svg>');
  --slider-arrow-right: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="rgb(178, 171, 191)" d="M3.4 81.7c-7.9 15.8-1.5 35 14.3 42.9L280.5 256 17.7 387.4C1.9 395.3-4.5 414.5 3.4 430.3s27.1 22.2 42.9 14.3l320-160c10.8-5.4 17.7-16.5 17.7-28.6s-6.8-23.2-17.7-28.6l-320-160c-15.8-7.9-35-1.5-42.9 14.3z"/></svg>');
}

.light {
  --slider-arrow-left: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="rgb(34, 40, 49)" d="M380.6 81.7c7.9 15.8 1.5 35-14.3 42.9L103.6 256 366.3 387.4c15.8 7.9 22.2 27.1 14.3 42.9s-27.1 22.2-42.9 14.3l-320-160C6.8 279.2 0 268.1 0 256s6.8-23.2 17.7-28.6l320-160c15.8-7.9 35-1.5 42.9 14.3z"/></svg>');
  --slider-arrow-right: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="rgb(34, 40, 49)" d="M3.4 81.7c-7.9 15.8-1.5 35 14.3 42.9L280.5 256 17.7 387.4C1.9 395.3-4.5 414.5 3.4 430.3s27.1 22.2 42.9 14.3l320-160c10.8-5.4 17.7-16.5 17.7-28.6s-6.8-23.2-17.7-28.6l-320-160c-15.8-7.9-35-1.5-42.9 14.3z"/></svg>');
}

/*
   =======
   LAYOUTS
   =======
*/

.main-container {
  align-content: center;
  flex-wrap: wrap;
  gap: var(--anime-titles-gap);
  margin: var(--anime-titles-gap) 0 var(--anime-titles-gap) 0;
}

.anime-title {
  width: var(--max-poster-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  filter: brightness(var(--main-brightnes));
  border-radius: var(--anime-title-border-radius);
  border: var(--main-border);
}

.anime-title:hover {
  box-shadow: var(--main-box-shadow);
}

.anime-title__poster {
  width: 100%;
  height: var(--max-poster-height);
  border-bottom: var(--main-border);
  border-radius: calc(var(--anime-title-border-radius) - 2px) calc(var(--anime-title-border-radius) - 2px) 0 0;
}

.anime-title__overlay {
  height: var(--max-poster-height);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: calc(var(--anime-title-border-radius) - 3px) calc(var(--anime-title-border-radius) - 3px) 0 0;
  background: var(--main-color);
  opacity: 0.9;
}

.anime-title:hover .anime-title__overlay {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "a-fandub_slider"
    "a-fandub_episode";
  align-items: center;
  border-bottom: var(--main-border);
}

.anime-title__mal_info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 0 var(--anime-title-border-radius) var(--anime-title-border-radius);
  padding: 5px;
  background: inherit;
}

.anime-title__mal_info__episode {
  font-size: xx-large;
}

.anime-title__mal_info__link {
}

.anime-title__fandub_episode_overlay {
  width: 100%;
  height: 100%;
  grid-area: a-fandub_episode;
  display: none;
  background-color: unset;
  overflow: hidden;
  text-align: center;
}

.anime-title:hover .anime-title__fandub_episode_overlay.anime-title__fandub_episode_overlay--active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anime-title__fandub_slider {
  grid-area: a-fandub_slider;
  display: flex;
  justify-content: space-around;
  background-color: unset;
  align-items: center;
  padding: 5px;
}

.anime-title__fandub_slider__arrow {
  width: 40px;
  height: 40px;
  background-color: unset;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.anime-title__fandub_slider__arrow:hover {
  transform: scale(1.1);
}

.anime-title__fandub_slider__arrow--left {
  background-image: var(--slider-arrow-left);
}

.anime-title__fandub_slider__arrow--left:active {
  transform: scale(1.1) translateX(-5px);
}

.anime-title__fandub_slider__arrow--right {
  background-image: var(--slider-arrow-right);
}

.anime-title__fandub_slider__arrow--right:active {
  transform: scale(1.1) translateX(5px);
}

.anime-title__link_holder {
  width: 135px;
  height: 60px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.anime-title:hover .anime-title__link_holder:hover {
  box-shadow: 0 0 3px 1px var(--secondary-color);
}

.anime-title__link_holder__link {
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  text-align: center;
}

.anime-title:hover .anime-title__link_holder__link.anime-title__link_holder__link--active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anime-title__link_holder__link:focus {
  outline: 0;
}