body {
  padding: 0 2rem;
  margin: 2rem;
}

a {
  text-decoration: none;
  outline: 0;
}

.nes-container:not(:last-child) {
  margin-bottom: 1rem;
}

.ANIMEDIA_background {
  background: url('../img/fandub/animedia-logo.png') no-repeat center;
  background-size: 40px 40px;
}

.NINEANIME_background {
  background: url('../img/fandub/9anime-logo.png') no-repeat center;
  background-size: 40px 40px;
}

.ANIDUB_background {
  background: url('../img/fandub/anidub-logo.png') no-repeat center;
  background-size: 40px 40px;
}

.JISEDAI_background {
  background: url('../img/fandub/jisedai-logo.png') no-repeat center;
  background-size: 40px 40px;
}

.ANIMEPIK_background {
  background: url('../img/fandub/animepik-logo.png') no-repeat center;
  background-size: 40px 40px;
}

.ANILIBRIA_background {
  background: url('../img/fandub/anilibria-logo.png') no-repeat center;
  background-size: 40px 40px;
}

.JUTSU_background {
  background: url('../img/fandub/jutsu-logo.png') no-repeat center;
  background-size: 40px 40px;
}

.SOVETROMANTICA_background {
  background: url('../img/fandub/sovet-romantica-logo.png') no-repeat center;
  background-size: 40px 40px;
}

.SHIZAPROJECT_background {
  background: url('../img/fandub/shiza-project-logo.png') no-repeat center;
  background-size: 40px 40px;
}

.full_cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.item {
  position: relative;
  display: inline-block;
  width: 225px;
  height: 320px;
  margin: 0.25rem;
}

.overlay {
  display: none;
  background: rgba(255, 192, 203, 0.7);
}

.link_holder {
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.outbound_link {
  position: relative;
  border: 3px solid white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 1% 3%;
  display: inline-block;
  z-index: 500;
}

.episode_overlay {
  position: absolute;
  background: rgba(255, 192, 203, 0.7);
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  color: white;
}

.episode_overlay span {
  display: block;
}

.item:hover .overlay {
  display: block;
}

.item:hover .episode_overlay {
  background: none;
}

.outbound_link:hover {
  background-color: rgb(255, 192, 203);
  transform: scale(1.1);
}

[data-title] {
  position: relative;
}

[data-title]:after {
  content: attr(data-title);
  color: #212529;
  white-space: nowrap;
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
  border-style: solid;
  border-width: 4px;
  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
  position: relative;
  display: inline-block;
  background-color: #fff;
  bottom: 75%;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.2s;
  visibility: visible;
}

.is_centered {
  text-align: center;
}

.width_full {
  width: 100%;
}

.height_full {
  height: 100%;
}

.font_x-small {
  font-size: x-small;
}

.is_left {
  text-align: left;
}